# URL base de tu API de .NET (Normalmente es https://localhost:7060 o http://localhost:5137 cuando ejecutas localmente)
VITE_API_BASE_URL=https://localhost:7060

# Configuración institucional para reportes
VITE_INSTITUTION_NAME=Unidad Educativa Fe y Alegría La Dolorosa
VITE_INSTITUTION_CITY=
VITE_INSTITUTION_LOGO_URL=/logo_fe_y_alegria.png
